{% extends 'base.html' %} {% load static %} {% block content %}

<div
  data-elementor-type="wp-page"
  data-elementor-id="2642"
  class="elementor elementor-2642"
  data-elementor-post-type="page"
>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-ef4c5df elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="ef4c5df"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3831aa3"
        data-id="3831aa3"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-fdd582a elementor-widget elementor-widget-heading animated fadeInDown"
            data-id="fdd582a"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":300}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-heading-title {
                  padding: 0;
                  margin: 0;
                  line-height: 1;
                }
                .elementor-widget-heading
                  .elementor-heading-title[class*="elementor-size-"]
                  > a {
                  color: inherit;
                  font-size: inherit;
                  line-height: inherit;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-small {
                  font-size: 15px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-medium {
                  font-size: 19px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-large {
                  font-size: 29px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xl {
                  font-size: 39px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xxl {
                  font-size: 59px;
                }
              </style>
              <h2 class="elementor-heading-title elementor-size-default">
                Get in touch
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-76d9111 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="76d9111"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6dfd5da"
        data-id="6dfd5da"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-329c5c7c elementor-widget elementor-widget-heading"
            data-id="329c5c7c"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h3 class="elementor-heading-title elementor-size-default">
                We are ready to answer all your questions
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-cc892bb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="cc892bb"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-609c517 animated fadeInUp"
        data-id="609c517"
        data-element_type="column"
        data-settings='{"animation":"fadeInUp"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-21c97ea elementor-widget elementor-widget-heading"
            data-id="21c97ea"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Head Office
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-25f3997 elementor-widget elementor-widget-text-editor"
            data-id="25f3997"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                  .elementor-drop-cap {
                  background-color: #69727d;
                  color: #fff;
                }
                .elementor-widget-text-editor.elementor-drop-cap-view-framed
                  .elementor-drop-cap {
                  color: #69727d;
                  border: 3px solid;
                  background-color: transparent;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap {
                  margin-top: 8px;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap-letter {
                  width: 1em;
                  height: 1em;
                }
                .elementor-widget-text-editor .elementor-drop-cap {
                  float: left;
                  text-align: center;
                  line-height: 1;
                  font-size: 50px;
                }
                .elementor-widget-text-editor .elementor-drop-cap-letter {
                  display: inline-block;
                }
              </style>
              <p>
                <b
                  >{{site.headOffice}}Nigeria.</b
                >
              </p>
               
            </div>
          </div>
          <div
            class="elementor-element elementor-element-ce7f7d1 elementor-widget elementor-widget-heading"
            data-id="ce7f7d1"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            
          </div>
         
          <div
            class="elementor-element elementor-element-42ff863 elementor-shape-circle e-grid-align-left e-grid-align-mobile-center elementor-grid-0 elementor-widget elementor-widget-social-icons"
            data-id="42ff863"
            data-element_type="widget"
            data-widget_type="social-icons.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-social-icons.elementor-grid-0
                  .elementor-widget-container,
                .elementor-widget-social-icons.elementor-grid-mobile-0
                  .elementor-widget-container,
                .elementor-widget-social-icons.elementor-grid-tablet-0
                  .elementor-widget-container {
                  line-height: 1;
                  font-size: 0;
                }
                .elementor-widget-social-icons:not(.elementor-grid-0):not(
                    .elementor-grid-tablet-0
                  ):not(.elementor-grid-mobile-0)
                  .elementor-grid {
                  display: inline-grid;
                }
                .elementor-widget-social-icons .elementor-grid {
                  grid-column-gap: var(--grid-column-gap, 5px);
                  grid-row-gap: var(--grid-row-gap, 5px);
                  grid-template-columns: var(--grid-template-columns);
                  justify-content: var(--justify-content, center);
                  justify-items: var(--justify-content, center);
                }
                .elementor-icon.elementor-social-icon {
                  font-size: var(--icon-size, 25px);
                  line-height: var(--icon-size, 25px);
                  width: calc(
                    var(--icon-size, 25px) + 2 * var(--icon-padding, 0.5em)
                  );
                  height: calc(
                    var(--icon-size, 25px) + 2 * var(--icon-padding, 0.5em)
                  );
                }
                .elementor-social-icon {
                  --e-social-icon-icon-color: #fff;
                  display: inline-flex;
                  background-color: #69727d;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  cursor: pointer;
                }
                .elementor-social-icon i {
                  color: var(--e-social-icon-icon-color);
                }
                .elementor-social-icon svg {
                  fill: var(--e-social-icon-icon-color);
                }
                .elementor-social-icon:last-child {
                  margin: 0;
                }
                .elementor-social-icon:hover {
                  opacity: 0.9;
                  color: #fff;
                }
                .elementor-social-icon-android {
                  background-color: #a4c639;
                }
                .elementor-social-icon-apple {
                  background-color: #999;
                }
                .elementor-social-icon-behance {
                  background-color: #1769ff;
                }
                .elementor-social-icon-bitbucket {
                  background-color: #205081;
                }
                .elementor-social-icon-codepen {
                  background-color: #000;
                }
                .elementor-social-icon-delicious {
                  background-color: #39f;
                }
                .elementor-social-icon-deviantart {
                  background-color: #05cc47;
                }
                .elementor-social-icon-digg {
                  background-color: #005be2;
                }
                .elementor-social-icon-dribbble {
                  background-color: #ea4c89;
                }
                .elementor-social-icon-elementor {
                  background-color: #d30c5c;
                }
                .elementor-social-icon-envelope {
                  background-color: #ea4335;
                }
                .elementor-social-icon-facebook,
                .elementor-social-icon-facebook-f {
                  background-color: #3b5998;
                }
                .elementor-social-icon-flickr {
                  background-color: #0063dc;
                }
                .elementor-social-icon-foursquare {
                  background-color: #2d5be3;
                }
                .elementor-social-icon-free-code-camp,
                .elementor-social-icon-freecodecamp {
                  background-color: #006400;
                }
                .elementor-social-icon-github {
                  background-color: #333;
                }
                .elementor-social-icon-gitlab {
                  background-color: #e24329;
                }
                .elementor-social-icon-globe {
                  background-color: #69727d;
                }
                .elementor-social-icon-google-plus,
                .elementor-social-icon-google-plus-g {
                  background-color: #dd4b39;
                }
                .elementor-social-icon-houzz {
                  background-color: #7ac142;
                }
                .elementor-social-icon-instagram {
                  background-color: #262626;
                }
                .elementor-social-icon-jsfiddle {
                  background-color: #487aa2;
                }
                .elementor-social-icon-link {
                  background-color: #818a91;
                }
                .elementor-social-icon-linkedin,
                .elementor-social-icon-linkedin-in {
                  background-color: #0077b5;
                }
                .elementor-social-icon-medium {
                  background-color: #00ab6b;
                }
                .elementor-social-icon-meetup {
                  background-color: #ec1c40;
                }
                .elementor-social-icon-mixcloud {
                  background-color: #273a4b;
                }
                .elementor-social-icon-odnoklassniki {
                  background-color: #f4731c;
                }
                .elementor-social-icon-pinterest {
                  background-color: #bd081c;
                }
                .elementor-social-icon-product-hunt {
                  background-color: #da552f;
                }
                .elementor-social-icon-reddit {
                  background-color: #ff4500;
                }
                .elementor-social-icon-rss {
                  background-color: #f26522;
                }
                .elementor-social-icon-shopping-cart {
                  background-color: #4caf50;
                }
                .elementor-social-icon-skype {
                  background-color: #00aff0;
                }
                .elementor-social-icon-slideshare {
                  background-color: #0077b5;
                }
                .elementor-social-icon-snapchat {
                  background-color: #fffc00;
                }
                .elementor-social-icon-soundcloud {
                  background-color: #f80;
                }
                .elementor-social-icon-spotify {
                  background-color: #2ebd59;
                }
                .elementor-social-icon-stack-overflow {
                  background-color: #fe7a15;
                }
                .elementor-social-icon-steam {
                  background-color: #00adee;
                }
                .elementor-social-icon-stumbleupon {
                  background-color: #eb4924;
                }
                .elementor-social-icon-telegram {
                  background-color: #2ca5e0;
                }
                .elementor-social-icon-threads {
                  background-color: #000;
                }
                .elementor-social-icon-thumb-tack {
                  background-color: #1aa1d8;
                }
                .elementor-social-icon-tripadvisor {
                  background-color: #589442;
                }
                .elementor-social-icon-tumblr {
                  background-color: #35465c;
                }
                .elementor-social-icon-twitch {
                  background-color: #6441a5;
                }
                .elementor-social-icon-twitter {
                  background-color: #1da1f2;
                }
                .elementor-social-icon-viber {
                  background-color: #665cac;
                }
                .elementor-social-icon-vimeo {
                  background-color: #1ab7ea;
                }
                .elementor-social-icon-vk {
                  background-color: #45668e;
                }
                .elementor-social-icon-weibo {
                  background-color: #dd2430;
                }
                .elementor-social-icon-weixin {
                  background-color: #31a918;
                }
                .elementor-social-icon-whatsapp {
                  background-color: #25d366;
                }
                .elementor-social-icon-wordpress {
                  background-color: #21759b;
                }
                .elementor-social-icon-x-twitter {
                  background-color: #000;
                }
                .elementor-social-icon-xing {
                  background-color: #026466;
                }
                .elementor-social-icon-yelp {
                  background-color: #af0606;
                }
                .elementor-social-icon-youtube {
                  background-color: #cd201f;
                }
                .elementor-social-icon-500px {
                  background-color: #0099e5;
                }
                .elementor-shape-rounded .elementor-icon.elementor-social-icon {
                  border-radius: 10%;
                }
                .elementor-shape-circle .elementor-icon.elementor-social-icon {
                  border-radius: 50%;
                }
              </style>
              <div class="elementor-social-icons-wrapper elementor-grid">
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-pop elementor-repeater-item-5a9bc34"
                    href="{{site.facebooklink}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Facebook</span>
                    <svg
                      class="e-font-icon-svg e-fab-facebook"
                      viewBox="0 0 512 512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                      ></path>
                    </svg>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-pop elementor-repeater-item-daab9f8"
                    href="{{site.twiiterlink}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Twitter</span>
                    <svg
                      class="e-font-icon-svg e-fab-twitter"
                      viewBox="0 0 512 512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                      ></path>
                    </svg>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-pop elementor-repeater-item-8e2cb81"
                    href="{{site.instergram}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Instagram</span>
                    <svg
                      class="e-font-icon-svg e-fab-instagram"
                      viewBox="0 0 448 512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-pop elementor-repeater-item-d1d498f"
                    href="{{site.youtubelink}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Youtube</span>
                    <svg
                      class="e-font-icon-svg e-fab-youtube"
                      viewBox="0 0 576 512"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                      ></path>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c607a19 animated fadeInUp"
        data-id="c607a19"
        data-element_type="column"
        data-settings='{"animation":"fadeInUp"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-2a2e774 elementor-button-align-stretch elementor-widget elementor-widget-form"
            data-id="2a2e774"
            data-element_type="widget"
            data-settings='{"step_next_label":"Next","step_previous_label":"Previous","button_width":"100","step_type":"number_text","step_icon_shape":"circle"}'
            data-widget_type="form.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor-pro - v3.15.0 - 09-08-2023 */
                .elementor-button.elementor-hidden,
                .elementor-hidden {
                  display: none;
                }
                .e-form__step {
                  width: 100%;
                }
                .e-form__step:not(.elementor-hidden) {
                  display: flex;
                  flex-wrap: wrap;
                }
                .e-form__buttons {
                  flex-wrap: wrap;
                }
                .e-form__buttons,
                .e-form__buttons__wrapper {
                  display: flex;
                }
                .e-form__indicators {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: nowrap;
                  font-size: 13px;
                  margin-bottom: var(--e-form-steps-indicators-spacing);
                }
                .e-form__indicators__indicator {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  flex-basis: 0;
                  padding: 0 var(--e-form-steps-divider-gap);
                }
                .e-form__indicators__indicator__progress {
                  width: 100%;
                  position: relative;
                  background-color: var(
                    --e-form-steps-indicator-progress-background-color
                  );
                  border-radius: var(
                    --e-form-steps-indicator-progress-border-radius
                  );
                  overflow: hidden;
                }
                .e-form__indicators__indicator__progress__meter {
                  width: var(--e-form-steps-indicator-progress-meter-width, 0);
                  height: var(--e-form-steps-indicator-progress-height);
                  line-height: var(--e-form-steps-indicator-progress-height);
                  padding-right: 15px;
                  border-radius: var(
                    --e-form-steps-indicator-progress-border-radius
                  );
                  background-color: var(
                    --e-form-steps-indicator-progress-color
                  );
                  color: var(--e-form-steps-indicator-progress-meter-color);
                  text-align: right;
                  transition: width 0.1s linear;
                }
                .e-form__indicators__indicator:first-child {
                  padding-left: 0;
                }
                .e-form__indicators__indicator:last-child {
                  padding-right: 0;
                }
                .e-form__indicators__indicator--state-inactive {
                  color: var(
                    --e-form-steps-indicator-inactive-primary-color,
                    #c2cbd2
                  );
                }
                .e-form__indicators__indicator--state-inactive
                  [class*="indicator--shape-"]:not(
                    .e-form__indicators__indicator--shape-none
                  ) {
                  background-color: var(
                    --e-form-steps-indicator-inactive-secondary-color,
                    #fff
                  );
                }
                .e-form__indicators__indicator--state-inactive object,
                .e-form__indicators__indicator--state-inactive svg {
                  fill: var(
                    --e-form-steps-indicator-inactive-primary-color,
                    #c2cbd2
                  );
                }
                .e-form__indicators__indicator--state-active {
                  color: var(
                    --e-form-steps-indicator-active-primary-color,
                    #39b54a
                  );
                  border-color: var(
                    --e-form-steps-indicator-active-secondary-color,
                    #fff
                  );
                }
                .e-form__indicators__indicator--state-active
                  [class*="indicator--shape-"]:not(
                    .e-form__indicators__indicator--shape-none
                  ) {
                  background-color: var(
                    --e-form-steps-indicator-active-secondary-color,
                    #fff
                  );
                }
                .e-form__indicators__indicator--state-active object,
                .e-form__indicators__indicator--state-active svg {
                  fill: var(
                    --e-form-steps-indicator-active-primary-color,
                    #39b54a
                  );
                }
                .e-form__indicators__indicator--state-completed {
                  color: var(
                    --e-form-steps-indicator-completed-secondary-color,
                    #fff
                  );
                }
                .e-form__indicators__indicator--state-completed
                  [class*="indicator--shape-"]:not(
                    .e-form__indicators__indicator--shape-none
                  ) {
                  background-color: var(
                    --e-form-steps-indicator-completed-primary-color,
                    #39b54a
                  );
                }
                .e-form__indicators__indicator--state-completed
                  .e-form__indicators__indicator__label {
                  color: var(
                    --e-form-steps-indicator-completed-primary-color,
                    #39b54a
                  );
                }
                .e-form__indicators__indicator--state-completed
                  .e-form__indicators__indicator--shape-none {
                  color: var(
                    --e-form-steps-indicator-completed-primary-color,
                    #39b54a
                  );
                  background-color: initial;
                }
                .e-form__indicators__indicator--state-completed object,
                .e-form__indicators__indicator--state-completed svg {
                  fill: var(
                    --e-form-steps-indicator-completed-secondary-color,
                    #fff
                  );
                }
                .e-form__indicators__indicator__icon {
                  width: var(--e-form-steps-indicator-padding, 30px);
                  height: var(--e-form-steps-indicator-padding, 30px);
                  font-size: var(--e-form-steps-indicator-icon-size);
                  border-width: 1px;
                  border-style: solid;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
                  margin-bottom: 10px;
                }
                .e-form__indicators__indicator__icon img,
                .e-form__indicators__indicator__icon object,
                .e-form__indicators__indicator__icon svg {
                  width: var(--e-form-steps-indicator-icon-size);
                  height: auto;
                }
                .e-form__indicators__indicator__icon .e-font-icon-svg {
                  height: 1em;
                }
                .e-form__indicators__indicator__number {
                  width: var(--e-form-steps-indicator-padding, 30px);
                  height: var(--e-form-steps-indicator-padding, 30px);
                  border-width: 1px;
                  border-style: solid;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 10px;
                }
                .e-form__indicators__indicator--shape-circle {
                  border-radius: 50%;
                }
                .e-form__indicators__indicator--shape-square {
                  border-radius: 0;
                }
                .e-form__indicators__indicator--shape-rounded {
                  border-radius: 5px;
                }
                .e-form__indicators__indicator--shape-none {
                  border: 0;
                }
                .e-form__indicators__indicator__label {
                  text-align: center;
                }
                .e-form__indicators__indicator__separator {
                  width: 100%;
                  height: var(--e-form-steps-divider-width);
                  background-color: #babfc5;
                }
                .e-form__indicators--type-icon,
                .e-form__indicators--type-icon_text,
                .e-form__indicators--type-number,
                .e-form__indicators--type-number_text {
                  align-items: flex-start;
                }
                .e-form__indicators--type-icon
                  .e-form__indicators__indicator__separator,
                .e-form__indicators--type-icon_text
                  .e-form__indicators__indicator__separator,
                .e-form__indicators--type-number
                  .e-form__indicators__indicator__separator,
                .e-form__indicators--type-number_text
                  .e-form__indicators__indicator__separator {
                  margin-top: calc(
                    var(--e-form-steps-indicator-padding, 30px) / 2 -
                      var(--e-form-steps-divider-width, 1px) / 2
                  );
                }
                .elementor-field-type-hidden {
                  display: none;
                }
                .elementor-field-type-html {
                  display: inline-block;
                }
                .elementor-login .elementor-lost-password,
                .elementor-login .elementor-remember-me {
                  font-size: 0.85em;
                }
                .elementor-field-type-recaptcha_v3 .elementor-field-label {
                  display: none;
                }
                .elementor-field-type-recaptcha_v3 .grecaptcha-badge {
                  z-index: 1;
                }
                .elementor-button .elementor-form-spinner {
                  order: 3;
                }
                .elementor-form .elementor-button > span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .elementor-form .elementor-button .elementor-button-text {
                  white-space: normal;
                  flex-grow: 0;
                }
                .elementor-form .elementor-button svg {
                  height: auto;
                }
                .elementor-form .elementor-button .e-font-icon-svg {
                  height: 1em;
                }
                .elementor-select-wrapper .select-caret-down-wrapper {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  inset-inline-end: 10px;
                  pointer-events: none;
                  font-size: 11px;
                }
                .elementor-select-wrapper .select-caret-down-wrapper svg {
                  display: unset;
                  width: 1em;
                  aspect-ratio: unset;
                  fill: currentColor;
                }
                .elementor-select-wrapper .select-caret-down-wrapper i {
                  font-size: 19px;
                  line-height: 2;
                }
                .elementor-select-wrapper.remove-before:before {
                  content: "" !important;
                }
              </style>
              <form   method="post" >
               
{% csrf_token %}
                <input type="hidden" name="queried_id" value="2642" />

                <div class="elementor-form-fields-wrapper elementor-labels-">
                  <div
                    class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100"
                  >
                    <label
                      for="form-field-name"
                      class="elementor-field-label elementor-screen-only"
                    >
                      Name
                    </label>
                    <input
                      size="1"
                      type="text"
                      name="name"
                      id="form-field-name"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      placeholder="Name"
                    />
                  </div>
                  <div
                    class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required"
                  >
                    <label
                      for="form-field-email"
                      class="elementor-field-label elementor-screen-only"
                    >
                      Email
                    </label>
                    <input
                      size="1"
                      type="email"
                      name="email"
                      id="form-field-email"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      placeholder="Email"
                      required="required"
                      aria-required="true"
                    />
                  </div>
                  <div
                    class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_34f286c elementor-col-100"
                  >
                    <label
                      for="form-field-field_34f286c"
                      class="elementor-field-label elementor-screen-only"
                    >
                      Tel
                    </label>
                    <input
                      size="1"
                      type="tel"
                      name="tel"
                      id="form-field-field_34f286c"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      placeholder="Tel"
                      pattern="[0-9()#&amp;+*-=.]+"
                      title="Only numbers and phone characters (#, -, *, etc) are accepted."
                    />
                  </div>
                  <div
                    class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required"
                  >
                    <label
                      for="form-field-message"
                      class="elementor-field-label elementor-screen-only"
                    >
                      Message
                    </label>
                    <textarea
                      class="elementor-field-textual elementor-field elementor-size-sm"
                      name="message"
                      id="form-field-message"
                      rows="4"
                      placeholder="Message"
                      required="required"
                      aria-required="true"
                    ></textarea>
                  </div>
                  <div
                    class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons"
                  >
                    <button
                      type="submit"
                      class="elementor-button elementor-size-sm"
                    >
                      <span>
                        <span class="elementor-button-icon"> </span>
                        <span class="elementor-button-text">Send</span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-05faf3a elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-toggle"
            data-id="05faf3a"
            data-element_type="widget"
            data-widget_type="toggle.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-toggle {
                  text-align: start;
                }
                .elementor-toggle .elementor-tab-title {
                  font-weight: 700;
                  line-height: 1;
                  margin: 0;
                  padding: 15px;
                  border-bottom: 1px solid #d5d8dc;
                  cursor: pointer;
                  outline: none;
                }
                .elementor-toggle .elementor-tab-title .elementor-toggle-icon {
                  display: inline-block;
                  width: 1em;
                }
                .elementor-toggle
                  .elementor-tab-title
                  .elementor-toggle-icon
                  svg {
                  margin-inline-start: -5px;
                  width: 1em;
                  height: 1em;
                }
                .elementor-toggle
                  .elementor-tab-title
                  .elementor-toggle-icon.elementor-toggle-icon-right {
                  float: right;
                  text-align: right;
                }
                .elementor-toggle
                  .elementor-tab-title
                  .elementor-toggle-icon.elementor-toggle-icon-left {
                  float: left;
                  text-align: left;
                }
                .elementor-toggle
                  .elementor-tab-title
                  .elementor-toggle-icon
                  .elementor-toggle-icon-closed {
                  display: block;
                }
                .elementor-toggle
                  .elementor-tab-title
                  .elementor-toggle-icon
                  .elementor-toggle-icon-opened {
                  display: none;
                }
                .elementor-toggle .elementor-tab-title.elementor-active {
                  border-bottom: none;
                }
                .elementor-toggle
                  .elementor-tab-title.elementor-active
                  .elementor-toggle-icon-closed {
                  display: none;
                }
                .elementor-toggle
                  .elementor-tab-title.elementor-active
                  .elementor-toggle-icon-opened {
                  display: block;
                }
                .elementor-toggle .elementor-tab-content {
                  padding: 15px;
                  border-bottom: 1px solid #d5d8dc;
                  display: none;
                }
                @media (max-width: 767px) {
                  .elementor-toggle .elementor-tab-title {
                    padding: 12px;
                  }
                  .elementor-toggle .elementor-tab-content {
                    padding: 12px 10px;
                  }
                }
                .e-con-inner > .elementor-widget-toggle,
                .e-con > .elementor-widget-toggle {
                  width: var(--container-widget-width);
                  --flex-grow: var(--container-widget-flex-grow);
                }
              </style>
              <div class="elementor-toggle">
                <div class="elementor-toggle-item">
                  <div
                    id="elementor-tab-title-6271"
                    class="elementor-tab-title"
                    data-tab="1"
                    role="button"
                    aria-controls="elementor-tab-content-6271"
                    aria-expanded="false"
                  >
                    <span
                      class="elementor-toggle-icon elementor-toggle-icon-left"
                      aria-hidden="true"
                    >
                      <span class="elementor-toggle-icon-closed"
                        ><svg
                          class="e-font-icon-svg e-fas-angle-double-down"
                          viewBox="0 0 320 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z"
                          ></path></svg
                      ></span>
                      <span class="elementor-toggle-icon-opened"
                        ><svg
                          class="elementor-toggle-icon-opened e-font-icon-svg e-fas-caret-up"
                          viewBox="0 0 320 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"
                          ></path></svg
                      ></span>
                    </span>
                    <a class="elementor-toggle-title" tabindex="0"
                      >Contact Form</a
                    >
                  </div>

                  <div
                    id="elementor-tab-content-6271"
                    class="elementor-tab-content elementor-clearfix"
                    data-tab="1"
                    role="region"
                    aria-labelledby="elementor-tab-title-6271"
                  >
                     
                    <!-- .wpforms-container -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-8daf3ea elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="8daf3ea"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-18b43e8"
        data-id="18b43e8"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-22fce60 elementor-widget elementor-widget-google_maps animated fadeInUp"
            data-id="22fce60"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInUp"}'
            data-widget_type="google_maps.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-google_maps .elementor-widget-container {
                  overflow: hidden;
                }
                .elementor-widget-google_maps .elementor-custom-embed {
                  line-height: 0;
                }
                .elementor-widget-google_maps iframe {
                  height: 300px;
                }
              </style>
              <div class="elementor-custom-embed">
                <iframe
                  loading="lazy"
                  src="https://maps.google.com/maps?q={{site.headOffice1}}&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
                  title="Millennium Builders Plaza"
                  aria-label="Millennium Builders Plaza"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-3e3b9ed elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="3e3b9ed"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-605dbc3"
        data-id="605dbc3"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-75730ad elementor-widget elementor-widget-heading animated fadeInDown"
            data-id="75730ad"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":300}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                <a href="tel:+880%201678%20170%20593"
                  >Your support can save lives.</a
                >
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-88dd21c elementor-widget elementor-widget-heading"
            data-id="88dd21c"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Join hands with us for a better life and beautiful future.
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-3061e8b elementor-align-center elementor-widget elementor-widget-button animated fadeInDown"
            data-id="3061e8b"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
            data-widget_type="button.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm"
                  href="{% url 'partner' %}"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text">Donate</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
