{% extends 'base.html' %} {% load static %} {% block content %}
<div
  data-elementor-type="wp-page"
  data-elementor-id="6391"
  class="elementor elementor-6391"
  data-elementor-post-type="page"
>
  <section
    data-particle_enable="true"
    class="eael-section-particles-7a1cb5b7 elementor-section elementor-top-section elementor-element elementor-element-7a1cb5b7 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle eael-particles-section"
    data-eael_ptheme_source="presets"
    data-preset_theme="nasa"
    data-custom_style=""
    data-particle-mobile-disabled="false"
    data-id="7a1cb5b7"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
    id="eael-section-particles-7a1cb5b7"
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-227b2de9"
        data-id="227b2de9"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-1315339a elementor-widget elementor-widget-heading animated fadeInDown"
            data-id="1315339a"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":300}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-heading-title {
                  padding: 0;
                  margin: 0;
                  line-height: 1;
                }
                .elementor-widget-heading
                  .elementor-heading-title[class*="elementor-size-"]
                  > a {
                  color: inherit;
                  font-size: inherit;
                  line-height: inherit;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-small {
                  font-size: 15px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-medium {
                  font-size: 19px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-large {
                  font-size: 29px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xl {
                  font-size: 39px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xxl {
                  font-size: 59px;
                }
              </style>
              <h1 class="elementor-heading-title elementor-size-default">
                Publications
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <canvas
      class="particles-js-canvas-el"
      width="1894"
      height="354"
      style="width: 100%; height: 100%"
    ></canvas>
  </section>
  <style>
    .elementor-element-7a1cb5b7.eael-particles-section > canvas {
      z-index: -1;
      position: absolute;
      top: 0;
    }
  </style>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-a6e56fb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a6e56fb"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-993abab"
        data-id="993abab"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-27c7743 elementor-widget elementor-widget-heading"
            data-id="27c7743"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Our Services
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-51f751d elementor-widget elementor-widget-text-editor"
            data-id="51f751d"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                  .elementor-drop-cap {
                  background-color: #69727d;
                  color: #fff;
                }
                .elementor-widget-text-editor.elementor-drop-cap-view-framed
                  .elementor-drop-cap {
                  color: #69727d;
                  border: 3px solid;
                  background-color: transparent;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap {
                  margin-top: 8px;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap-letter {
                  width: 1em;
                  height: 1em;
                }
                .elementor-widget-text-editor .elementor-drop-cap {
                  float: left;
                  text-align: center;
                  line-height: 1;
                  font-size: 50px;
                }
                .elementor-widget-text-editor .elementor-drop-cap-letter {
                  display: inline-block;
                }
              </style>
              <p>
                <span style="font-weight: 400"
                  >No child in Africa should go to sleep hungry and scared- last
                  year we saved more than 10k lives. This year we are planning
                  to double this number.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-d7281e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="d7281e1"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-586a6a4 elementor-invisible"
        data-id="586a6a4"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-e4da6ed elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
            data-id="e4da6ed"
            data-element_type="section"
            data-settings='{"animation":"fadeInLeft"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-30a9c31"
                data-id="30a9c31"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-2ec285f elementor-widget elementor-widget-image"
                    data-id="2ec285f"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        decoding="async"
                        width="45"
                        height="60"
                        src="https://arfh-ng.org/wp-content/uploads/2019/10/features1-icon5.png"
                        class="attachment-large size-large wp-image-2942"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3651f65"
                data-id="3651f65"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-6cc8c4e elementor-widget elementor-widget-heading"
                    data-id="6cc8c4e"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Providing Food
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-4909b82 elementor-align-left elementor-invisible elementor-widget elementor-widget-button"
                    data-id="4909b82"
                    data-element_type="widget"
                    data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
                    data-widget_type="button.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                          href="#"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">Read More</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1087315 elementor-invisible"
        data-id="1087315"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInUp"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-656ebce elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
            data-id="656ebce"
            data-element_type="section"
            data-settings='{"animation":"fadeInLeft"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6e11523"
                data-id="6e11523"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-44e88e9 elementor-widget elementor-widget-image"
                    data-id="44e88e9"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        decoding="async"
                        width="57"
                        height="59"
                        src="https://arfh-ng.org/wp-content/uploads/2019/10/features1-icon3.png"
                        class="attachment-large size-large wp-image-2943"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c119e9d"
                data-id="c119e9d"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-23eabd4 elementor-widget elementor-widget-heading"
                    data-id="23eabd4"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Home Construction
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-fffcf03 elementor-align-left elementor-invisible elementor-widget elementor-widget-button"
                    data-id="fffcf03"
                    data-element_type="widget"
                    data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
                    data-widget_type="button.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                          href="#"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">Read More</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a852e0e elementor-invisible"
        data-id="a852e0e"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInRight"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-006efaa elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
            data-id="006efaa"
            data-element_type="section"
            data-settings='{"animation":"fadeInRight"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1de4456"
                data-id="1de4456"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-5374729 elementor-widget elementor-widget-image"
                    data-id="5374729"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="45"
                        height="60"
                        src="https://arfh-ng.org/wp-content/uploads/2019/10/features1-icon7.png"
                        class="attachment-large size-large wp-image-2944"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-35ac3cf"
                data-id="35ac3cf"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-955bd7e elementor-widget elementor-widget-heading"
                    data-id="955bd7e"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        Water Supply
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-df6dd4f elementor-align-left elementor-invisible elementor-widget elementor-widget-button"
                    data-id="df6dd4f"
                    data-element_type="widget"
                    data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
                    data-widget_type="button.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                          href="#"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">Read More</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-0401ed1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="0401ed1"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7fb722a elementor-invisible"
        data-id="7fb722a"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-ad4d30b elementor-position-left elementor-vertical-align-bottom elementor-widget elementor-widget-image-box"
            data-id="ad4d30b"
            data-element_type="widget"
            data-widget_type="image-box.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-image-box .elementor-image-box-content {
                  width: 100%;
                }
                @media (min-width: 768px) {
                  .elementor-widget-image-box.elementor-position-left
                    .elementor-image-box-wrapper,
                  .elementor-widget-image-box.elementor-position-right
                    .elementor-image-box-wrapper {
                    display: flex;
                  }
                  .elementor-widget-image-box.elementor-position-right
                    .elementor-image-box-wrapper {
                    text-align: end;
                    flex-direction: row-reverse;
                  }
                  .elementor-widget-image-box.elementor-position-left
                    .elementor-image-box-wrapper {
                    text-align: start;
                    flex-direction: row;
                  }
                  .elementor-widget-image-box.elementor-position-top
                    .elementor-image-box-img {
                    margin: auto;
                  }
                  .elementor-widget-image-box.elementor-vertical-align-top
                    .elementor-image-box-wrapper {
                    align-items: flex-start;
                  }
                  .elementor-widget-image-box.elementor-vertical-align-middle
                    .elementor-image-box-wrapper {
                    align-items: center;
                  }
                  .elementor-widget-image-box.elementor-vertical-align-bottom
                    .elementor-image-box-wrapper {
                    align-items: flex-end;
                  }
                }
                @media (max-width: 767px) {
                  .elementor-widget-image-box .elementor-image-box-img {
                    margin-left: auto !important;
                    margin-right: auto !important;
                    margin-bottom: 15px;
                  }
                }
                .elementor-widget-image-box .elementor-image-box-img {
                  display: inline-block;
                }
                .elementor-widget-image-box .elementor-image-box-title a {
                  color: inherit;
                }
                .elementor-widget-image-box .elementor-image-box-wrapper {
                  text-align: center;
                }
                .elementor-widget-image-box .elementor-image-box-description {
                  margin: 0;
                }
              </style>
              <div class="elementor-image-box-wrapper">
                <figure class="elementor-image-box-img">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="57"
                    height="59"
                    src="https://arfh-ng.org/wp-content/uploads/2019/10/features-3-icon2.png"
                    class="attachment-full size-full wp-image-14"
                    alt=""
                  />
                </figure>
                <div class="elementor-image-box-content">
                  <h3 class="elementor-image-box-title">Home Building</h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-af794b3 elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
            data-id="af794b3"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
            data-widget_type="button.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                  href="#"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text">Read More</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ab481a1 elementor-invisible"
        data-id="ab481a1"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInUp"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-257767a elementor-position-left elementor-vertical-align-bottom elementor-widget elementor-widget-image-box"
            data-id="257767a"
            data-element_type="widget"
            data-widget_type="image-box.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper">
                <figure class="elementor-image-box-img">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="45"
                    height="60"
                    src="https://arfh-ng.org/wp-content/uploads/2019/10/features-3-icon4.png"
                    class="attachment-full size-full wp-image-15"
                    alt=""
                  />
                </figure>
                <div class="elementor-image-box-content">
                  <h3 class="elementor-image-box-title">Family Planning</h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-b193e81 elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
            data-id="b193e81"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
            data-widget_type="button.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                  href="#"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text">Read More</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-369fee0 elementor-invisible"
        data-id="369fee0"
        data-element_type="column"
        data-settings='{"background_background":"classic","animation":"fadeInRight"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-5f167b9 elementor-position-left elementor-vertical-align-bottom elementor-widget elementor-widget-image-box"
            data-id="5f167b9"
            data-element_type="widget"
            data-widget_type="image-box.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper">
                <figure class="elementor-image-box-img">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="47"
                    height="60"
                    src="https://arfh-ng.org/wp-content/uploads/2019/10/features-3-icon3.png"
                    class="attachment-full size-full wp-image-16"
                    alt=""
                  />
                </figure>
                <div class="elementor-image-box-content">
                  <h3 class="elementor-image-box-title">Medical Care</h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-a8c190c elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
            data-id="a8c190c"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":700}'
            data-widget_type="button.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
                  href="#"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text">Read More</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-a8b47be arfh-pub-link elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a8b47be"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b0291c2"
        data-id="b0291c2"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-f7e0f0f elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="f7e0f0f"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-162a80e animated fadeInUp"
                data-id="162a80e"
                data-element_type="column"
                data-settings='{"animation":"fadeInUp"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-934abb9 elementor-widget elementor-widget-heading"
                    data-id="934abb9"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Publication Title
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-a722ce7 animated fadeInUp"
                data-id="a722ce7"
                data-element_type="column"
                data-settings='{"animation":"fadeInUp"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-a6f8870 elementor-widget elementor-widget-heading"
                    data-id="a6f8870"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Corresponding Author
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-a7893d2"
                data-id="a7893d2"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-43b2196 elementor-widget elementor-widget-heading"
                    data-id="43b2196"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Pub. Date
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-97a80ca"
                data-id="97a80ca"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-e7b422a elementor-widget elementor-widget-heading"
                    data-id="e7b422a"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Publication URL
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-06539b6"
                data-id="06539b6"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-4a4e965 elementor-widget elementor-widget-heading"
                    data-id="4a4e965"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Download
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div
            class="elementor-element elementor-element-8fcdb00 elementor-hidden-tablet elementor-hidden-phone elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
            data-id="8fcdb00"
            data-element_type="widget"
            data-widget_type="divider.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-divider {
                  --divider-border-style: none;
                  --divider-border-width: 1px;
                  --divider-color: #0c0d0e;
                  --divider-icon-size: 20px;
                  --divider-element-spacing: 10px;
                  --divider-pattern-height: 24px;
                  --divider-pattern-size: 20px;
                  --divider-pattern-url: none;
                  --divider-pattern-repeat: repeat-x;
                }
                .elementor-widget-divider .elementor-divider {
                  display: flex;
                }
                .elementor-widget-divider .elementor-divider__text {
                  font-size: 15px;
                  line-height: 1;
                  max-width: 95%;
                }
                .elementor-widget-divider .elementor-divider__element {
                  margin: 0 var(--divider-element-spacing);
                  flex-shrink: 0;
                }
                .elementor-widget-divider .elementor-icon {
                  font-size: var(--divider-icon-size);
                }
                .elementor-widget-divider .elementor-divider-separator {
                  display: flex;
                  margin: 0;
                  direction: ltr;
                }
                .elementor-widget-divider--view-line_icon
                  .elementor-divider-separator,
                .elementor-widget-divider--view-line_text
                  .elementor-divider-separator {
                  align-items: center;
                }
                .elementor-widget-divider--view-line_icon
                  .elementor-divider-separator:after,
                .elementor-widget-divider--view-line_icon
                  .elementor-divider-separator:before,
                .elementor-widget-divider--view-line_text
                  .elementor-divider-separator:after,
                .elementor-widget-divider--view-line_text
                  .elementor-divider-separator:before {
                  display: block;
                  content: "";
                  border-block-end: 0;
                  flex-grow: 1;
                  border-block-start: var(--divider-border-width)
                    var(--divider-border-style) var(--divider-color);
                }
                .elementor-widget-divider--element-align-left
                  .elementor-divider
                  .elementor-divider-separator
                  > .elementor-divider__svg:first-of-type {
                  flex-grow: 0;
                  flex-shrink: 100;
                }
                .elementor-widget-divider--element-align-left
                  .elementor-divider-separator:before {
                  content: none;
                }
                .elementor-widget-divider--element-align-left
                  .elementor-divider__element {
                  margin-left: 0;
                }
                .elementor-widget-divider--element-align-right
                  .elementor-divider
                  .elementor-divider-separator
                  > .elementor-divider__svg:last-of-type {
                  flex-grow: 0;
                  flex-shrink: 100;
                }
                .elementor-widget-divider--element-align-right
                  .elementor-divider-separator:after {
                  content: none;
                }
                .elementor-widget-divider--element-align-right
                  .elementor-divider__element {
                  margin-right: 0;
                }
                .elementor-widget-divider--element-align-start
                  .elementor-divider
                  .elementor-divider-separator
                  > .elementor-divider__svg:first-of-type {
                  flex-grow: 0;
                  flex-shrink: 100;
                }
                .elementor-widget-divider--element-align-start
                  .elementor-divider-separator:before {
                  content: none;
                }
                .elementor-widget-divider--element-align-start
                  .elementor-divider__element {
                  margin-inline-start: 0;
                }
                .elementor-widget-divider--element-align-end
                  .elementor-divider
                  .elementor-divider-separator
                  > .elementor-divider__svg:last-of-type {
                  flex-grow: 0;
                  flex-shrink: 100;
                }
                .elementor-widget-divider--element-align-end
                  .elementor-divider-separator:after {
                  content: none;
                }
                .elementor-widget-divider--element-align-end
                  .elementor-divider__element {
                  margin-inline-end: 0;
                }
                .elementor-widget-divider:not(
                    .elementor-widget-divider--view-line_text
                  ):not(.elementor-widget-divider--view-line_icon)
                  .elementor-divider-separator {
                  border-block-start: var(--divider-border-width)
                    var(--divider-border-style) var(--divider-color);
                }
                .elementor-widget-divider--separator-type-pattern {
                  --divider-border-style: none;
                }
                .elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line
                  .elementor-divider-separator,
                .elementor-widget-divider--separator-type-pattern:not(
                    .elementor-widget-divider--view-line
                  )
                  .elementor-divider-separator:after,
                .elementor-widget-divider--separator-type-pattern:not(
                    .elementor-widget-divider--view-line
                  )
                  .elementor-divider-separator:before,
                .elementor-widget-divider--separator-type-pattern:not(
                    [class*="elementor-widget-divider--view"]
                  )
                  .elementor-divider-separator {
                  width: 100%;
                  min-height: var(--divider-pattern-height);
                  -webkit-mask-size: var(--divider-pattern-size) 100%;
                  mask-size: var(--divider-pattern-size) 100%;
                  -webkit-mask-repeat: var(--divider-pattern-repeat);
                  mask-repeat: var(--divider-pattern-repeat);
                  background-color: var(--divider-color);
                  -webkit-mask-image: var(--divider-pattern-url);
                  mask-image: var(--divider-pattern-url);
                }
                .elementor-widget-divider--no-spacing {
                  --divider-pattern-size: auto;
                }
                .elementor-widget-divider--bg-round {
                  --divider-pattern-repeat: round;
                }
                .rtl .elementor-widget-divider .elementor-divider__text {
                  direction: rtl;
                }
                .e-con-inner > .elementor-widget-divider,
                .e-con > .elementor-widget-divider {
                  width: var(--container-widget-width, 100%);
                  --flex-grow: var(--container-widget-flex-grow);
                }
              </style>
              <div class="elementor-divider">
                <span class="elementor-divider-separator"> </span>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-5b054db elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-top elementor-grid-mobile-1 elementor-widget elementor-widget-posts"
            data-id="5b054db"
            data-element_type="widget"
            data-settings='{"custom_columns":"1","custom_row_gap":{"unit":"px","size":40,"sizes":[]},"custom_columns_tablet":"1","custom_columns_mobile":"1","custom_row_gap_tablet":{"unit":"px","size":"","sizes":[]},"custom_row_gap_mobile":{"unit":"px","size":"","sizes":[]}}'
            data-widget_type="posts.custom"
          >
            <div class="elementor-widget-container">
              <link
                rel="stylesheet"
                href="https://arfh-ng.org/wp-content/plugins/elementor-pro/assets/css/widget-posts.min.css"
              />
              <div
                class="ecs-posts elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-custom"
                data-settings='{"current_page":1,"max_num_pages":1,"load_method":"numbers_and_prev_next","widget_id":"5b054db","post_id":6391,"theme_id":6391,"change_url":false,"reinit_js":false}'
              >
              {% for i in pub %}
                <article
                  id="post-13291"
                  class="elementor-post elementor-grid-item ecs-post-loop post-13291 publications type-publications status-publish hentry"
                >
                  <div
                    data-elementor-type="loop"
                    data-elementor-id="6510"
                    class="elementor elementor-6510 post-13291 publications type-publications status-publish hentry"
                    data-elementor-post-type="elementor_library"
                  >
                    <div class="elementor-section-wrap">
                      <section
                        data-particle_enable="false"
                        data-particle-mobile-disabled="false"
                        class="elementor-section elementor-top-section elementor-element elementor-element-ca5caec pub elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="ca5caec"
                        data-element_type="section"
                      >
                        <div
                          class="elementor-container elementor-column-gap-no"
                        >
                          <div
                            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-63171ab animated fadeInUp"
                            data-id="63171ab"
                            data-element_type="column"
                            data-settings='{"animation":"fadeInUp"}'
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-f3b0cd3 elementor-widget elementor-widget-heading"
                                data-id="f3b0cd3"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                    <a
                                      href="{% url 'pubdetail' i.uuids %}"
                                      >{{i.title}}</a
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-3e115cb animated fadeInUp"
                            data-id="3e115cb"
                            data-element_type="column"
                            data-settings='{"animation":"fadeInUp"}'
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-7c77116 elementor-widget elementor-widget-heading"
                                data-id="7c77116"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                   {{i.Author}}
                                  </p>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-4a97e71 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-heading"
                                data-id="4a97e71"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                   {{i.header}}
                                  </p>
                                </div>
                              </div>
                              <div
                                class="elementor-element elementor-element-bb16e7f elementor-widget elementor-widget-heading"
                                data-id="bb16e7f"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                    <a href="mailto:{{i.email}}"
                                      >Email: {{i.email}}</a
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-763f330 elementor-hidden-phone animated fadeInUp"
                            data-id="763f330"
                            data-element_type="column"
                            data-settings='{"animation":"fadeInUp"}'
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-1dd3824 elementor-widget elementor-widget-heading"
                                data-id="1dd3824"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                    {{i.date}}
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-13f8d8f elementor-hidden-phone animated fadeInUp"
                            data-id="13f8d8f"
                            data-element_type="column"
                            data-settings='{"animation":"fadeInUp"}'
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-08bb7a0 elementor-widget elementor-widget-heading"
                                data-id="08bb7a0"
                                data-element_type="widget"
                                data-widget_type="heading.default"
                              >
                                <div class="elementor-widget-container">
                                  <p
                                    class="elementor-heading-title elementor-size-default"
                                  >
                                    <a
                                      href="{{i.url}}"
                                      target="_blank"
                                      >Ext. URL:
                                       {{i.url}}</a
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-3bc4ec4 animated fadeInUp"
                            data-id="3bc4ec4"
                            data-element_type="column"
                            data-settings='{"animation":"fadeInUp"}'
                          >
                            <div
                              class="elementor-widget-wrap elementor-element-populated"
                            >
                              <div
                                class="elementor-element elementor-element-d80c1e3 elementor-view-default elementor-widget elementor-widget-icon"
                                data-id="d80c1e3"
                                data-element_type="widget"
                                data-widget_type="icon.default"
                              >
                                <div class="elementor-widget-container">
                                   
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </article>
                    {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
