{% extends 'base.html' %} {% load static %} {% block content %}

<div
  data-elementor-type="wp-page"
  data-elementor-id="2956"
  class="elementor elementor-2956"
  data-elementor-post-type="page"
>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-7a1cb5b7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="7a1cb5b7"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-227b2de9"
        data-id="227b2de9"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-1315339a elementor-invisible elementor-widget elementor-widget-heading"
            data-id="1315339a"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown","_animation_delay":300}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-heading-title {
                  padding: 0;
                  margin: 0;
                  line-height: 1;
                }
                .elementor-widget-heading
                  .elementor-heading-title[class*="elementor-size-"]
                  > a {
                  color: inherit;
                  font-size: inherit;
                  line-height: inherit;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-small {
                  font-size: 15px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-medium {
                  font-size: 19px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-large {
                  font-size: 29px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xl {
                  font-size: 39px;
                }
                .elementor-widget-heading
                  .elementor-heading-title.elementor-size-xxl {
                  font-size: 59px;
                }
              </style>
              <h1 class="elementor-heading-title elementor-size-default">
                Our Services
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-a6e56fb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a6e56fb"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-993abab"
        data-id="993abab"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-51f751d elementor-widget elementor-widget-text-editor"
            data-id="51f751d"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.23.0 - 05-08-2024 */
                .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                  .elementor-drop-cap {
                  background-color: #69727d;
                  color: #fff;
                }
                .elementor-widget-text-editor.elementor-drop-cap-view-framed
                  .elementor-drop-cap {
                  color: #69727d;
                  border: 3px solid;
                  background-color: transparent;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap {
                  margin-top: 8px;
                }
                .elementor-widget-text-editor:not(
                    .elementor-drop-cap-view-default
                  )
                  .elementor-drop-cap-letter {
                  width: 1em;
                  height: 1em;
                }
                .elementor-widget-text-editor .elementor-drop-cap {
                  float: left;
                  text-align: center;
                  line-height: 1;
                  font-size: 50px;
                }
                .elementor-widget-text-editor .elementor-drop-cap-letter {
                  display: inline-block;
                }
              </style>
              <p>{{about.ourmission}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-2b9362a4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="2b9362a4"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-565e4aa0"
        data-id="565e4aa0"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-1d1ee8b elementor-invisible elementor-widget elementor-widget-heading"
            data-id="1d1ee8b"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown"}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                 {{site.name}} services
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-15289249 elementor-widget elementor-widget-text-editor"
            data-id="15289249"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <p>
                {{about.ourvision}} 
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-5635fae elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="5635fae"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eb8924b"
        data-id="eb8924b"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-5786c3d elementor-widget elementor-widget-heading animated fadeInDown"
            data-id="5786c3d"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown"}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                COLLABORATION SERVICES   
              </h2>
            </div>
          </div>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-879badf elementor-hidden-desktop elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="879badf"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5fd5a43"
                data-id="5fd5a43"
                data-element_type="column"
                data-settings='{"background_background":"classic","background_motion_fx_motion_fx_scrolling":"yes","background_motion_fx_translateY_effect":"yes","background_motion_fx_devices":["tablet"],"background_motion_fx_translateY_speed":{"unit":"px","size":4,"sizes":[]},"background_motion_fx_translateY_affectedRange":{"unit":"%","size":"","sizes":{"start":0,"end":100}}}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-1c6b7ae elementor-widget elementor-widget-spacer"
                    data-id="1c6b7ae"
                    data-element_type="widget"
                    data-widget_type="spacer.default"
                  >
                    <div class="elementor-widget-container">
                      <style>
                        /*! elementor - v3.23.0 - 05-08-2024 */
                        .elementor-column .elementor-spacer-inner {
                          height: var(--spacer-size);
                        }
                        .e-con {
                          --container-widget-width: 100%;
                        }
                        .e-con-inner > .elementor-widget-spacer,
                        .e-con > .elementor-widget-spacer {
                          width: var(
                            --container-widget-width,
                            var(--spacer-size)
                          );
                          --align-self: var(
                            --container-widget-align-self,
                            initial
                          );
                          --flex-shrink: 0;
                        }
                        .e-con-inner
                          > .elementor-widget-spacer
                          > .elementor-widget-container,
                        .e-con
                          > .elementor-widget-spacer
                          > .elementor-widget-container {
                          height: 100%;
                          width: 100%;
                        }
                        .e-con-inner
                          > .elementor-widget-spacer
                          > .elementor-widget-container
                          > .elementor-spacer,
                        .e-con
                          > .elementor-widget-spacer
                          > .elementor-widget-container
                          > .elementor-spacer {
                          height: 100%;
                        }
                        .e-con-inner
                          > .elementor-widget-spacer
                          > .elementor-widget-container
                          > .elementor-spacer
                          > .elementor-spacer-inner,
                        .e-con
                          > .elementor-widget-spacer
                          > .elementor-widget-container
                          > .elementor-spacer
                          > .elementor-spacer-inner {
                          height: var(
                            --container-widget-height,
                            var(--spacer-size)
                          );
                        }
                        .e-con-inner
                          > .elementor-widget-spacer.elementor-widget-empty,
                        .e-con
                          > .elementor-widget-spacer.elementor-widget-empty {
                          position: relative;
                          min-height: 22px;
                          min-width: 22px;
                        }
                        .e-con-inner
                          > .elementor-widget-spacer.elementor-widget-empty
                          .elementor-widget-empty-icon,
                        .e-con
                          > .elementor-widget-spacer.elementor-widget-empty
                          .elementor-widget-empty-icon {
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          margin: auto;
                          padding: 0;
                          width: 22px;
                          height: 22px;
                        }
                      </style>
                      <div class="elementor-spacer">
                        <div class="elementor-spacer-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-dde0920"
                data-id="dde0920"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-fd4ed48 elementor-widget elementor-widget-text-editor"
                    data-id="fd4ed48"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <p>
                        HCSI as an health organization which is design and equipped to providing various kind of service’s such: 
                        HIV counselling and testing(HTS), Nutrition assessment, counselling and support (NACS), Prevention from mother to child transmission (PMTCT), mobile testing services, index case testing service, contact tracing service, social media campaigns services, PrEP/PEP services, GBV services, Self-test services, Health Education, structured PLHA support group, Birth registration, school enrolment/re-enrolment/ school performance, Agricultural value chain, saving group ( SILC, VSLA, e.t.c), Adolescent HIV prevention and sexual reproduction health services (SRF).  
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-93defcb elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="93defcb"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8598fb6"
                data-id="8598fb6"
                data-element_type="column"
              >
              <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold text-gray-800 mb-4">Healthcare & Support Organizations</h2>
                <ul class="flex flex-col space-y-3">
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Civil Societies on HIV / AIDS in Nigeria (CISHAN)
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    St. Philomena’s Catholic Hospital
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Faith Mediplex
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    University of Benin Teaching Hospital (UBTH)
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Central Hospital Benin
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Stella Obasanjo hospital
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    St Paul medical clinic
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ugbekun Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Iwogban Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ologbo Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ogbeson Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ute Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Evbomudu Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Aduwawa Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Oregbeni Primary Health Care Centre
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ministry of Women Affairs, Edo State
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Edo State Agricultural Development Project (ADP)
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Parish AIDS Volunteers (PAVS) from various PACA in fourteen (14) Parishes
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    Ministry of Education
                  </li>
                  <li class="bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                    National population commission
                  </li>
                </ul>
              </div>
              
            </div>
          </section>
          
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-934865e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="934865e"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f265ce5"
        data-id="f265ce5"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-d80397b elementor-widget elementor-widget-heading animated fadeInDown"
            data-id="d80397b"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown"}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                HCSI EMPOWERNMENT
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-71f23ea elementor-widget elementor-widget-text-editor"
            data-id="71f23ea"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <p>
                The Tunde and Ebun Delano Library ({{site.name}}Library), also located
                within {{site.name}}House premise, has been found very useful as a
                strategy of inculcating the reading culture into them and
                reaching them with SRH/FP and HIV/AIDS information.
              </p>
            </div>
          </div>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-84bd84c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="84bd84c"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1f8bae4"
                data-id="1f8bae4"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-f2e1e14 elementor-widget elementor-widget-text-editor"
                    data-id="f2e1e14"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <p>
                        To further enhance the aim of the library, skill
                        building programmes are organised weekly for the library
                        users. Topics discussed include Time Management, Study
                        Skills Building , Sexual Reproductive Health Hints,
                        Dangers of Substance Abuse, Choosing a Career, Refusal
                        Skills and Relationships, among others. The computerized
                        library enhances easy storage and retrieval of data.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b42f653"
                data-id="b42f653"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-3dede1d elementor-widget elementor-widget-text-editor"
                    data-id="3dede1d"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <p>
                        The library is automated to enhance easy storage and
                        retrieval of information. Internet searches are also
                        done in the library to complement physical books and
                        other printed materials. The library operates between
                        9am and 5pm every working day, and its membership is
                        open to secondary school students, undergraduates,
                        postgraduates and researchers at a reasonable fee.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-f13b33e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="f13b33e"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-30a821b"
        data-id="30a821b"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-f9f0087 elementor-widget elementor-widget-heading"
            data-id="f9f0087"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                The Eugene Weiss Internet Browsing Centre
              </h2>
            </div>
          </div>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-a286acd elementor-hidden-desktop elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="a286acd"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-29400ae"
                data-id="29400ae"
                data-element_type="column"
                data-settings='{"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-247d851 elementor-widget elementor-widget-spacer"
                    data-id="247d851"
                    data-element_type="widget"
                    data-widget_type="spacer.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-spacer">
                        <div class="elementor-spacer-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b1d00a4"
                data-id="b1d00a4"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-c8cc5ba elementor-widget elementor-widget-text-editor"
                    data-id="c8cc5ba"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                     <div class="bg-gray-50 p-8 rounded-lg shadow-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-4 text-center">Eugene Weiss Internet Browsing Centre</h1>
  <p class="text-gray-700 text-lg mb-6">
    Since its inception in March 2004, the Eugene Weiss Internet Browsing Centre has been a transformative hub for youths, students, and researchers, bridging the digital divide by providing access to the Internet and vital computer literacy programs.
  </p>
  <div class="bg-blue-100 p-6 rounded-lg mb-6 shadow-sm">
    <h2 class="text-2xl font-semibold text-blue-800 mb-2">Empowering Youths Through Computer Literacy</h2>
    <p class="text-gray-700">
      The centre introduced a <span class="font-semibold">6-week computer training programme</span> designed to equip youths with essential skills such as:
    </p>
    <ul class="list-disc list-inside text-gray-700 mt-3 space-y-2">
      <li>Computer Appreciation</li>
      <li>Windows Operating Systems</li>
      <li>Microsoft Office Applications</li>
      <li>Desktop Publishing</li>
    </ul>
    <p class="text-gray-700 mt-3">
      This program, funded by a generous take-off grant from the <span class="font-semibold">Augustine Stewardship Trust Fund</span>, Wisconsin, USA, has helped countless participants build a foundation for future success in a digital world.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Internet Access</h3>
      <p class="text-gray-600 mt-2">
        The centre serves as a resource for students and researchers, offering high-speed Internet access to support learning, research, and personal development.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Photocopying & Scanning</h3>
      <p class="text-gray-600 mt-2">
        Services like photocopying, scanning, and document processing help students and professionals manage their academic and administrative needs efficiently.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Typing Services</h3>
      <p class="text-gray-600 mt-2">
        Typing services assist individuals in creating professional documents, assignments, and publications with precision and accuracy.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Training for Digital Success</h3>
      <p class="text-gray-600 mt-2">
        Beyond the basics, the centre continues to promote advanced digital skills and encourage innovation among youths.
      </p>
    </div>
  </div>
  <div class="text-center mt-8">
     
  </div>
</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-d79b5f0 elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="d79b5f0"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1a8fb71"
                data-id="1a8fb71"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-e6f8645 elementor-widget elementor-widget-image"
                    data-id="e6f8645"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        decoding="async"
                        width="451"
                        height="301"
                        src="{% static '11.png'%}"
                        class="attachment-large size-large wp-image-3881"
                        alt=""
                        srcset="{% static '11.png'%} 451w, https://arfh-ng.org/wp-content/uploads/2020/04/service-internet-300x200.jpg 300w"
                        sizes="(max-width: 451px) 100vw, 451px"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-492e496"
                data-id="492e496"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-a8ac4c0 elementor-widget elementor-widget-text-editor"
                    data-id="a8ac4c0"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                     <div class="bg-gray-50 p-8 rounded-lg shadow-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-4 text-center">Eugene Weiss Internet Browsing Centre</h1>
  <p class="text-gray-700 text-lg mb-6">
    Since its inception in March 2004, the Eugene Weiss Internet Browsing Centre has been a transformative hub for youths, students, and researchers, bridging the digital divide by providing access to the Internet and vital computer literacy programs.
  </p>
  <div class="bg-blue-100 p-6 rounded-lg mb-6 shadow-sm">
    <h2 class="text-2xl font-semibold text-blue-800 mb-2">Empowering Youths Through Computer Literacy</h2>
    <p class="text-gray-700">
      The centre introduced a <span class="font-semibold">6-week computer training programme</span> designed to equip youths with essential skills such as:
    </p>
    <ul class="list-disc list-inside text-gray-700 mt-3 space-y-2">
      <li>Computer Appreciation</li>
      <li>Windows Operating Systems</li>
      <li>Microsoft Office Applications</li>
      <li>Desktop Publishing</li>
    </ul>
    <p class="text-gray-700 mt-3">
      This program, funded by a generous take-off grant from the <span class="font-semibold">Augustine Stewardship Trust Fund</span>, Wisconsin, USA, has helped countless participants build a foundation for future success in a digital world.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Internet Access</h3>
      <p class="text-gray-600 mt-2">
        The centre serves as a resource for students and researchers, offering high-speed Internet access to support learning, research, and personal development.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Photocopying & Scanning</h3>
      <p class="text-gray-600 mt-2">
        Services like photocopying, scanning, and document processing help students and professionals manage their academic and administrative needs efficiently.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Typing Services</h3>
      <p class="text-gray-600 mt-2">
        Typing services assist individuals in creating professional documents, assignments, and publications with precision and accuracy.
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="font-semibold text-lg text-blue-800">Training for Digital Success</h3>
      <p class="text-gray-600 mt-2">
        Beyond the basics, the centre continues to promote advanced digital skills and encourage innovation among youths.
      </p>
    </div>
  </div>
  <div class="text-center mt-8">
     
  </div>
</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-section elementor-top-section elementor-element elementor-element-a2f70d5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="a2f70d5"
    data-element_type="section"
    data-settings='{"background_background":"classic"}'
  >
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cd47eac"
        data-id="cd47eac"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-ecd33d0 elementor-invisible elementor-widget elementor-widget-heading"
            data-id="ecd33d0"
            data-element_type="widget"
            data-settings='{"_animation":"fadeInDown"}'
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                {{site.name}}Recreational Facility
              </h2>
            </div>
          </div>
          <section
            data-particle_enable="false"
            data-particle-mobile-disabled="false"
            class="elementor-section elementor-inner-section elementor-element elementor-element-c8af686 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="c8af686"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-81112da"
                data-id="81112da"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-a829bd5 elementor-widget elementor-widget-image"
                    data-id="a829bd5"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        loading="lazy"
                        decoding="async"
                        width="451"
                        height="301"
                        src="{% static '7.png'%}"
                        class="attachment-large size-large wp-image-3880"
                        alt=""
                        srcset="{% static '7.png'%} 451w, https://arfh-ng.org/wp-content/uploads/2020/04/service-recreational-300x200.jpg 300w"
                        sizes="(max-width: 451px) 100vw, 451px"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-82e2fb9"
                data-id="82e2fb9"
                data-element_type="row"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-548b54e elementor-widget elementor-widget-text-editor"
                    data-id="548b54e"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div class=" to-white-100 p-8 rounded-lg shadow-lg">
                        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">Healthcare & Support Organizations for Children</h1>
                        <p class="text-gray-700 text-lg mb-8 text-center">
                          These organizations are dedicated to improving the health, education, and well-being of children. From hospitals to community care centers, they provide essential services to ensure a brighter future for every child.
                        </p>
                        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">Civil Societies on HIV/AIDS in Nigeria (CISHAN)</h3>
                            <p class="text-gray-600 mt-2">Providing support and education to children and families affected by HIV/AIDS.</p>
                          </li>
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">St. Philomena’s Catholic Hospital</h3>
                            <p class="text-gray-600 mt-2">Offers pediatric care and immunization programs for children.</p>
                          </li>
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">Faith Mediplex</h3>
                            <p class="text-gray-600 mt-2">Specializes in maternal and child health, ensuring safe deliveries and healthy growth.</p>
                          </li>
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">University of Benin Teaching Hospital (UBTH)</h3>
                            <p class="text-gray-600 mt-2">Provides advanced pediatric care and training programs for healthcare workers.</p>
                          </li>
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">Central Hospital Benin</h3>
                            <p class="text-gray-600 mt-2">A center for vaccinations, child nutrition, and healthcare services.</p>
                          </li>
                          <li class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                            <h3 class="font-semibold text-lg text-blue-800">Ministry of Women Affairs, Edo State</h3>
                            <p class="text-gray-600 mt-2">Promotes education and healthcare programs for disadvantaged children.</p>
                          </li>
                        </ul>
                         
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
