{% extends './index.html' %} 


{% block content %}
<script>
    function handleImageUpload(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        
        // Convert image to bytes
        reader.onload = function (e) {
          const bytes = new Uint8Array(e.target.result);
        };
        
        // Display image preview
        const previewReader = new FileReader();
        previewReader.onload = function (e) {
          document.getElementById('imageBytes').value =  e.target.result;
          document.getElementById('imagePreview').src = e.target.result;
        };

        reader.readAsArrayBuffer(file);
        previewReader.readAsDataURL(file);
      }
    }
  </script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
  
<div
id="main-content"
  class="ahOqFrhzLjivRe8a1kX_ t6gkcSf0Bt4MLItXvDJ_ uLPch_bqyJDXwe5tynMV _lTTGxW9MVI40FyDCtmr jtAJHOc7mn7b4IKRO59D zW58fVqdWJHfumftUEwF h8KYXnua2NT4kTVzieom flex w-full items-center justify-center  p-5">

  <form method="post" class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <strong class="text-xl text-gray-700 text-bold mb-5 w-full border-2 flex p-3 uppercase">create {{i}}</strong>

    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
        header
      </label>
      <input
        type="text"
        id="title"
        name="header"
        
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Enter header"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
        title
      </label>
      <input
        type="text"
        id="title"
        name="title"
        
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Enter title"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="body">
        Body
      </label>
      <textarea
        id="body"
        name="body"
        rows="4"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Enter body text"
      ></textarea>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
        Image
      </label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        onchange="handleImageUpload(event)"
      />
      <input type="hidden" id="imageBytes" name="imageBytes" />
      <div class="mt-4">
        <img id="imagePreview" src="" alt="Image Preview" class="w-full h-64 object-cover rounded shadow-md" />
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
        Date
      </label>
      <input
        type="datetime-local"
        id="date"
        name="date"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
        Close Date
      </label>
      <input
        type="datetime-local"
        id="date"
        name="cdatex"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>

    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Submit
      </button>
    </div>
  </form>
</div>

{% endblock content %}
